<div class="footer">

    	<div class="footerword">
       		<a href="#" jhiTranslate="footer.one">On VLL link management</a> - <a href="#" jhiTranslate="footer.two">Contact us</a>  - <a href="#" jhiTranslate="footer.tree">Friendship link</a> - <a href="#" jhiTranslate="footer.four">Copyright declaration</a> - <a href="#" jhiTranslate="footer.five">Talent recruitment</a> -  <a href="#" jhiTranslate="footer.six">Help</a> <br />
                        &copy;CopyRight 2017-2018 xl1314.top Inc All Rights Reserved.
        </div>
</div>
