<div *ngIf="user">
    <h2>
        <span jhiTranslate="userManagement.detail.title">User</span> [<b>{{user.login}}</b>]
    </h2>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="userManagement.login">Login</span></dt>
        <dd>
            <span>{{user.username}}</span>
            <span class="badge badge-danger" *ngIf="!user.status"
                  jhiTranslate="userManagement.deactivated">Deactivated</span>
            <span class="badge badge-success" *ngIf="user.status"
                  jhiTranslate="userManagement.activated">Activated</span>
        </dd>
        <dt><span jhiTranslate="userManagement.sex">sex</span></dt>
        <dd>{{user.sex}}</dd>
        <dt><span jhiTranslate="userManagement.phone">phone</span></dt>
        <dd>{{user.phone}}</dd>
        <dt><span jhiTranslate="userManagement.email">Email</span></dt>
        <dd>{{user.email}}</dd>
        <dt><span jhiTranslate="userManagement.profiles">Profiles</span></dt>
        <dd>
            <ul class="list-unstyled">
                <li *ngFor="let authority of user.authorities">
                    <span class="badge badge-info">{{authority}}</span>
                </li>
            </ul>
        </dd>
    </dl>
    <button type="submit"
            routerLink="/user-management"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
